body{
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 50px;
   
}
.name-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 3%;
    padding: 2%;
}
.half-width img{
    width: 100%;
    height: auto;
  
}